# Force Java/Kotlin detection
*.java linguist-detectable=true
*.kt linguist-detectable=true

# Ignore everything else
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.json linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=false
*.xml linguist-detectable=false
*.gradle linguist-detectable=false
*.gradle.kts linguist-detectable=false
*.md linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.jpeg linguist-detectable=false
*.gif linguist-detectable=false
*.svg linguist-detectable=false
*.webp linguist-detectable=false
LICENSE linguist-detectable=false
README.md linguist-detectable=false
AndroidManifest.xml linguist-detectable=false
